@model HMWeb.Biblioteca.Modelos.Maquinarias


<h3>¿Seguro que desea borrar este item?</h3>
<div>
    <dl class="row">
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.NumeroSerie)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.NumeroSerie)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Matricula)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Matricula)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.FechaBaja)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.FechaBaja)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.Activa)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.Activa)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UltimaLecturaKms)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UltimaLecturaKms)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.UltimaLecturaHoras)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.UltimaLecturaHoras)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IndicaKH)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IndicaKH)
        </dd>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdCentroNavigation)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IdCentroNavigation.Nombre)
        </dd class>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdEmpresaNavigation)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IdEmpresaNavigation.IdEmpresa)
        </dd class>
        <dt class = "col-sm-4">
            @Html.DisplayNameFor(model => model.IdServicioNavigation)
        </dt>
        <dd class = "col-sm-8">
            @Html.DisplayFor(model => model.IdServicioNavigation.IdServicio)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdMaquinaria" />
        <input type="submit" data-id="IdMaquinaria" value="Borrar" class="btn btn-danger" /> 
    </form>
</div>
