@model IEnumerable<HMWeb.Biblioteca.Modelos.Maquinarias>

@{
    ViewData["Title"] = "Index";

}

<h1 class="alert-info">Listado de Maquinarias</h1>
<div class="float-left">
    <button class="btn btn-info" onclick="CreateMaquinaria()">Crear nueva maquinaria</button>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroSerie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Matricula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaAlta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaBaja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaLecturaKms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UltimaLecturaHoras)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IndicaKH)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.IdEmpresa)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.IdCentro)
            </th>
            <th style="display:none">
                @Html.DisplayNameFor(model => model.IdServicio)
            </th>

            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    <tbody id="tableFilas">
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NumeroSerie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Matricula)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaAlta)
                  
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaBaja)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Activa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimaLecturaKms)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UltimaLecturaHoras)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IndicaKH)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.IdEmpresa)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.IdCentro)
                </td>
                <td style="display:none">
                    @Html.DisplayFor(modelItem => item.IdServicio)
                </td>
                <td class="col-sm-4"><button class="btn btn-info"  onclick="EditMaquinaria(@item.IdMaquinaria)" data-toggle="modal" data-target="#editModal">Editar </button> </td>
                <td class="col-sm-4"><button class="btn btn-info" onclick="DetallesMaquinaria(@item.IdMaquinaria)" data-toggle="modal" data-target="#editModal">Detalles</button> </td>
                <td class="col-sm-4"><a class="btn btn-info" asp-controller="Maquinarias" asp-action="Delete" asp-route-id="@item.IdMaquinaria"> Borrar </a> </td>


            </tr>

        }
    </tbody>

</table>


<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="modalDiv" class="modal-body">


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script>
        var CreateMaquinaria = function () {
            var url = "/Maquinarias/_Create";
            $("#modalDiv").load(url, function () {
                $("#editModal").modal("show");
            })
        }
    </script>
    <script>
        var EditMaquinaria = function (item) {
            var url = "/Maquinarias/_Edit?id=" + parseInt(item);
            $("#modalDiv").load(url, function () {
                $("#editModal").modal("show");
            })
        }
    </script>
    <script>
        var DetallesMaquinaria = function (item) {
            var url = "/Maquinarias/_Details?id=" + parseInt(item);
            $("#modalDiv").load(url, function () {
                $("#editModal").modal("show");
            })
        }
    </script>



    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}



